@model CafeLab.Models.OrderDishes

@{
    ViewData["Title"] = "Додати нову страву до замовлення";
}

<h1 class="text-center">Нова</h1>

<h4 class="text-center">Страва в замовленні</h4>
<hr />

<style>
    form div {
        margin-bottom: 10px;
    }

    form {
        align-content: center;
        display: flex;
        flex-direction: column;
        width: 20vw;
        margin: auto;
    }

    input {
        margin: auto;
    }
</style>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="DishId" class="control-label"></label>
        <select asp-for="DishId" class="form-control" asp-items="ViewBag.DishId"></select>
    </div>
    <div class="form-group">
        <label asp-for="OrderId" class="control-label"></label>
        <select asp-for="OrderId" class="form-control" asp-items="ViewBag.OrderId"></select>
    </div>
    <div class="form-group" style="margin: auto;">
        <input type="submit" value="Додати" style="margin: auto;" class="btn btn-info" />
        <a type="button" class="btn btn-secondary" style="margin: auto;" asp-action="Index">Відміна</a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
