@model CafeLab.Models.OrderDishes

@{
    ViewData["Title"] = "Видалення страви з замовлення";
}

<h3 class="text-center">Ви впевнені, що хочете видалити інформацію?</h3>

<style>
    form div {
        margin-bottom: 10px;
    }

    form {
        align-content: center;
        display: flex;
        flex-direction: column;
        width: 20vw;
        margin: auto;
    }

    input {
        margin: auto;
    }
</style>
<div>
    <hr />
    <dl class="col">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dish)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dish.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="form-group" style="margin: auto;">
            <input type="submit" value="Видалити" style="margin: auto;" class="btn btn-info" />
            <a type="button" class="btn btn-secondary" style="margin: auto;" asp-action="Index">Відміна</a>
        </div>
    </form>
</div>
