@model CafeLab.Models.OrderDishes

@{
    ViewData["Title"] = "Редагувати замовлення страви";
}

<h1 class="text-center">Редагувати</h1>

<h4 class="text-center">Замовлення страви</h4>
<hr />

<style>
    form div {
        margin-bottom: 10px;
    }

    form {
        align-content: center;
        display: flex;
        flex-direction: column;
        width: 20vw;
        margin: auto;
    }

    input {
        margin: auto;
    }
</style>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="DishId" class="control-label"></label>
        <select asp-for="DishId" class="form-control" asp-items="ViewBag.DishId"></select>
        <span asp-validation-for="DishId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OrderId" class="control-label"></label>
        <select asp-for="OrderId" class="form-control" asp-items="ViewBag.OrderId"></select>
        <span asp-validation-for="OrderId" class="text-danger"></span>
    </div>

    <div class="form-group" style="margin: auto;">
        <input type="submit" value="Зберегти" style="margin: auto;" class="btn btn-info" />
        <a type="button" class="btn btn-secondary" style="margin: auto;" asp-action="Index">Відміна</a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
