@model CafeLab.Models.Order

@{
    ViewData["Title"] = "Редавгувати замовлення";
}

<h1 class="text-center">Редагувати</h1>

<h4 class="text-center">Замовлення</h4>
<hr />

<style>
    form div {
        margin-bottom: 10px;
    }

    form {
        align-content: center;
        display: flex;
        flex-direction: column;
        width: 20vw;
        margin: auto;
    }

    input {
        margin: auto;
    }
</style>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="OrderedAt" class="control-label"></label>
        <input asp-for="OrderedAt" class="form-control"/>
        <span asp-validation-for="OrderedAt" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control"/>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin: auto;">
        <input type="submit" value="Зберегти" style="margin: auto;" class="btn btn-info" />
        <a type="button" class="btn btn-secondary" style="margin: auto;" asp-action="Index">Відміна</a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

